

{% extends 'layout.html' %}
{% block title %} Edit Question {% endblock %}
{% block content %}




 <div class="container">


 <div class="row">


 <div class="col-md-6 col-md-offset-3">


 <form action="/edit" method="POST">


 <div class="form-group">


 <label>Q No.: </label>

 <input type="text" class="form-control" name="q_no" value="{{total}}">

 <label>Question:</label>


 <input type="text" class="form-control" name="question" value="{{Qdata[0]}}">


 <label>Option A:</label>


 <input type="text" class="form-control" name="A" value="{{Qdata[1]}}">

 <label>Option B:</label>


 <input type="text" class="form-control" name="B"  value="{{Qdata[2]}}">


 <label>Option C:</label>


 <input type="text" class="form-control" name="C"  value="{{Qdata[3]}}">


 <label>Option D:</label>


 <input type="text" class="form-control" name="D"  value="{{Qdata[4]}}">

 <label>Correct Option:</label>


 <input type="text" class="form-control" name="Correct_answer"  value="{{Qdata[5]}}">

 <label>Marks:</label>


 <input type="text" class="form-control" name="marks"  value="{{Qdata[6]}}">


 <br>

 <button class="btn btn-primary" type="submit">Submit</button>


 </div>


 </form>


 </div>


 </div>


</div>


{% endblock %}