
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Instructions</title>
		<link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
		<!-- Bulma Version 0.7.4-->
		<link rel="stylesheet" href="https://unpkg.com/bulma@0.7.4/css/bulma.min.css" />
	</head>
	<style type="text/css">
html,body {
  font-family: 'Open Sans', serif;
 background: rgb(242, 242, 243); 
}
article.post {
  margin: 1rem;
  padding-bottom: 1rem;
}
.qstnCard{
	padding-top: 4%;
	padding-bottom: 1%;
}
.inst {
	padding-left: 4%;
	font-size: 20px;
}

.baseOption{
	text-align: center;
}

.pageFooter{
	text-align: center;
	padding-bottom: 2%;
}
	</style>
	<body>
			

		<section class="container">
			<div class="columns qstnCard">
				<div class="column">
					<div class="box content">
						<article class="post">
                            <h2>Before you start</h2>
                            <h3>Instructions:</h3>
							
							<div class="inst">
                                    <ul style="list-style-type:disc;">
                                        <pre> Test will start at: <b>{{sTime}}</b>      Test will end at: <b>{{eTime}}</b></pre>
										<li>Question Type: <b> MCQ</b></li>
										<li> Test contains a total of <b> {{total_Q}} </b> questions.</li>   
                                        <li> This test has no negative marking.</li>    
                                        <li> You will get only one attempt. Please ensure that you have reliable internet and power for the whole duration of the test.</li>
                                        <li> After marking the option, please press <b>Submit</b> button to record your response.</li>
                                        <li> If you are done, press the <b>Final Submit</b> button at the bottom to finally submit the test. If timer gets over, then the test will be submitted automatically.</li>
                                        <li> After your test is submitted you will get your score immediately. For rank information see the leaderboard.</li>
                                        <li> Evaluate all options carefully.</li>
                                        
                            
									</ul>
								</div>
						</article>
					</div>
				</div>
			</div>
			<div class="pageFooter">
					<a class="button is-danger is-medium" href="/questions"> Agree & Continue </a>
			</div>
		</section>
		<script async type="text/javascript" src="../js/bulma.js"></script>
	</body>
	<script>
	</script>

	<script>
	// Set the date we're counting down to
	var countDownDate = new Date("{{eTime}}").getTime();
	var countDownStartDate = new Date("{{sTime}}").getTime();
	
	// Update the count down every 1 second
	var x = setInterval(function() {
	
	  // Get todays date and time
	  var now = new Date().getTime();
	
	  console.log(now, countDownStartDate);    //for testing on console
	  
	  if (countDownStartDate > now) {
		window.location.href='/prohibited';
	  }
	  // Find the distance between now and the count down date
	  var distance = countDownDate - now;
	
	  // Time calculations for days, hours, minutes and seconds
	  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
	  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
	  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
	  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
	
	  // Display the result in the element with id="demo"
	  document.getElementById("demo").innerHTML = hours + "h "
	  + minutes + "m " + seconds + "s ";
	
	  // If the count down is finished, write some text
	  if (distance < 0) {
		clearInterval(x);
		window.location.href='final_submit';
	  }
	}, 1000);
	</script>
</html>